* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: #34c1bb;
}

hr {
    border: 1px solid #fff;
    margin-top: 5em;
}
/*Clases generales */

.space-up {
    margin-top: 2em;
}

.space-down {
    margin-bottom: 2em;
}

.text-center {
 text-align: center;
}

/*imagen principal*/
.fondo-img {
    width: 60%;
}

.display-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    
}

.display-flex li {
  /*  border-top:  1px solid white; */
    border-bottom: 1px solid white; 
    padding: 0.5em;
}

/* Hover del header */

ul li:hover {
    color: #ffda4d;
    border-bottom: 1px solid #ffda4d;
}
/*Botones*/

.btn-log-in, .btn-sign-up, .modal-google:hover {
    background-color: #11135e;
    color: #ffda4d;
    margin-left: 2em;

}

.btn-sign-up:hover, .btn-log-in:hover, .modal-google{
    background-color: #ffda4d;
    color: #11135e;
    margin-left: 2em;
  
}


@media (max-width: 600px) {
 
    .fondo-img{
        width: 90%;
    }
}
