/* Estilos generales */

* {
    box-sizing: border-box;
}

.vh100 {
    height: 100vh;
}

.interests {
    height: 100%;
}

.img-logo {
    margin-top: 2em;
    width: 12%;
    display: flex;
    justify-content: center;
}

.img-logo img {
    width: 30%;
}

.interests-header {
    display: flex;
    justify-content: center;
    align-content: center;
}

.section-title {
    font-family: 'Open Sans', sans-serif;
}

/* Estilo del header */
.interests-header {
    background-color: #11135e;
    color: #fff;
    height: 20vh;
}

/* Estilos a la seccion de los filtros */

.section-options {
    background-color: #11135e;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-image: url('../assets/images/vectores/cine.jpg');
    background-position: center;
    background-size: contain;
}

.space {
    margin-bottom: 4em;
}

/*
.interests-header h1 {
    margin: 0 0 1.68rem 0;
    padding: 0.5em;
    font-size: 3.8rem;
} */

.back-yellow {
    background-color: #ffda4d;
}

.back-green {
    background-color: #34c1bb;
}

.interests-div {
    font-size: 1.8em;
    height: 300px;
    width: 300px;
    margin: 0 auto;
    word-break: break-word;
    justify-content: center;
   
}

.interest-selected {
    background-color: #11139b;
}

.button-container {
    margin-top: 8em;
}

.button-container .btn {
    font-size: 1.3rem;
    background-color: #11135e;
    height: 40px;
    line-height: 40px;
    padding: 0 2.2rem;
}

.icons {
    width: 30%;
}

@media (max-width: 600px){

    .interests-header {
        height: 20vh;
        color: #fff;
    }

    .section-options {
        height: 80vh;
        background-image: url('../assets/images/vectores/cine.jpg');
        background-position: center;
        background-size: contain;
    }

    .space {
        margin-top: 2em;
        margin-bottom: 0;
    }

    .interests-div { 
       font-size: 1.8em;
       height: 150px;
       width: 150px;
       margin: 0 auto;
       word-break: break-word;
       justify-content: center; 
    }

    .button-container {
        margin-top: 3em;   
    }

    .section-title {
        font-size: 2em;
        text-align: left;
    }

    .img-logo {
        margin-top: 2em;
        width: 35%;
        display: flex;
        justify-content: center;
    }
    
    .img-logo img {
        width: 30%;
    }

   
}

@media (min-width: 992px) {
    .interests-div {
        font-size: 2em;
    }

    .button-container {
        margin-top: 7em;
    }
}

