/*clases generales*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.vh100{
  height: 100vh !important;
}

.maxwidth100{
  max-width: 100%;
  height: auto;
}

.img-container {
  margin-top: 5em;
  width: 80%;
}

.img-width {
  width: 80%;
}

.display-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.font-size {
  font-size: 4em !important;
}

.text-carousel {
  background-color: #11135e;
}

.text-carousel-two {
  background-color: #34c1bb;
}

.logo-container {
  width: 80%;
  margin-bottom: 4em;
}

.btn-carousel {
  background-color: #ffda4d;
  color: #11135e;
}

.green-color {
  color: #34c1bb;
}

/* Mobile */

.vh50 {
  height: 50vh;
}

.vh35 {
  height: 35vh;
}

.vh30 {
  height: 30vh;
}

.space {
  margin-top: 4em;
  margin-bottom: 2em;
}

.img-corn-mobile {
  width: 50%;
}
