/* Estilos de la Vista Principal */

.row .slide-container {
    padding: 0;
}

.slider .slides {
    height: 50vh !important;
    background-color: rgb(221, 221, 221) !important;
}

.color-one {
    color: #34c1bb;
}

/*
.slider .slides li .principal-slide-2 {
    background-position: top;
}

.slider .slides li .principal-slide-1 {
    background-position: bottom;
}*/

.slider .slides li img {
    background-size: contain;
    background-repeat: no-repeat;
}

.title-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.genre-title {
    font-size: 3.8rem;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #acaaaa;
    padding-top: 1em;
    padding-bottom: 1em;
}


.line-hr {
    height: 2px;
    color: #acaaaa;
    width: 100%;
}


.card .card-content {
    padding: 10px;
    word-break: break-word;
    height: 16vh;
}

.card .card-image img {
    margin: 0 auto;
    height: 50vh;
}

.poster-movie {
    height: 300px;
}


table {
    font-size: 1.2em;
    margin: 0 auto;
    width: 90%;
    color: #a0a0a0;
}

td {
    width: 50%;
}

/* Contenedor de la imagen */

.background-image-movie {
    background-image: url('../assets/images/comedia.jpg');
}

.image-div {
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #34c1bb;
    background-position: center;
    height: 20em;
    margin-bottom: 1.5em;
}

/* Botones del modal */
.pulsing-button {
    top: 250px;
    margin-right: 1.3em;
}

.close-button {
    background-color: #34c1bb;
    color: #11135e;
}

@media (min-width: 992px) {
    .container .row-container-cards {
        width: 100%;
        margin: 0 10rem;
    }
}

@media (max-width: 600px) {
    .genre-title {
        font-size: 2em;
        padding-bottom: 0.5em;
    }

    table {
        width: 80%;  
        font-size: 1em; 
    }

    .card .card-content {
        height: 20%;
    }
    
}
