.background{
  background-color: #34c1bb;
}
.logo_sidenav{
  width: 70%;
  height: auto;
}
.side-nav .user-vie, .side-nav .userView {
    position: relative;
    padding: 32px 32px 10px;
    margin-bottom: 8px;
}
#nicknametext{
  font-size: 1.3em;
}
.displayblock{
  display: block;
}
.photoUser{
  width: 50%;
  height: auto;
}
header{
  background-color: #34c1bb;
  height: 8vh;
}
.btn_hambuguer{
  font-size: 2.3em;
  margin-left: 0.5em;
}
.logo_header{
  width: 45%;
  height: auto;
  margin-left: 15%;
}
@media (min-width: 600px) {
    .elements_header{
        display: none;
    }
    header{
      background-color:#ffda4d;
    }
}
