<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cincritica</title>
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body class="vh100">
    <div class="container filters">
        <div class="row">
            <div class="col s12">
                <header>
                    <h1 class="center-align">Escoge tus intereses</h1>
                </header>
                <section class="filters-section center-align">
                    <div class="filters-div">Comedia</div>
                    <div class="filters-div">Acción</div>
                    <div class="filters-div">Romántica</div>
                    <div class="filters-div last-filter-div">Ciencia Ficción</div>
                </section>
                <div class="center-align">
                    <a href="principal.html" class="waves-effect waves-light btn-large">NEXT</a>            
                </div>
            </div>
        </div>
    </div>
    <script src="../jquery/jquery-3.2.1.min.js"></script>
    <script src="../vendors/materialize/js/materialize.min.js"></script>
    <script src="../js/filters.js"></script>
</body>
</html>