<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cincritica Filters</title>
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="../assets/icons/logo.png">
  <!-- Framework Materialize CSS -->
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <!-- Iconos de Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- CSS Personalizado -->
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/filters.css">
</head>
<body class="bg-cc"> 
  <!--SECTION TABS (TOP/ OTROS/ RECOMENDAR)-->
  <section>
    <div class="row">
      <ul id="tabs-swipe-demo" class="tabs">
        <li class="tab col s6"><a class="active" href="#test-swipe-1">TOP 10</a></li>
        <li class="tab col s6"><a href="#test-swipe-2">DESCUBRE</a></li>
      </ul>
      <div id="test-swipe-1" class="col s12 white">
        <div class="row">
          <div class="col s12 offset-m3 m6">
            <div class="card">
              <div class="header">
                <div class="col s3 center-align">
                  <img src="../assets/images/filters/top/t1.jpg" alt="" class="responsive-img">
                </div>
                <div class="col s6">
                  <h5><strong>BLADE RUNNER</strong></h5>
                  <ul>
                    <li><b>Estreno:</b> 2017 - 2hr</li>
                    <li><b>Top:</b><img class="top" src="../assets/images/filters/feed/1.png"></li>
                  </ul> 
                </div>
                <div class="col s3">
                  <img src="../assets/images/filters/feed/top.png" alt="" class="responsive-img">
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
      <div id="test-swipe-2" class="col s12 white">
        <div class="row">
          <div class="col s12 offset-m3 m6">
            <div class="card">
              <div class="card-image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaDZoaTPmRm4pijO3IVIvG5YnqpjQ0eKCWubTtyoMoMeDVdHiR">
                <span class="card-title"><strong>Titulo pelicula</strong></span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">play_arrow</i></a>
              </div>
              <div class="card-content">
                <p><b>Año:</b> 2017</p>
                <p><b>Duración:</b> 2h 20min</p>
                <P><b>Calificación:</b> estrellitas</P>
                <br>
                <p>SINOPSIS: I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  <!-- Libreria JQuery -->
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <!-- JS Materialize -->
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <!-- Libreria de Firebase -->
  <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
  <!-- Referencias de conexión con Firebase -->
  <script src="../js/conexion.js"></script>
  <!-- JS NAV ICON -->
  <script src="../js/navIcon.js"></script>
  <!-- JS personalizado -->
  <script src="../js/filters.js"></script>
</body>
</html>