<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>home</title>
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="vh100 valign-wrapper">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <img src="http://lorempixel.com/300/200" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col s12 center-align margintop4em">
        <a class="waves-effect waves-light btn">Sing in</a>
        <a class="waves-effect waves-light btn" id="btn-signup">Sing up</a>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center-align">
        <a class="waves-effect waves-light modal-trigger" href="#modal1">conectate con Google</a>
      </div>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Tus datos: </h4>
      <p>Well Done! You have been registered succesfully.</p>
      <div class="user-data">
						<div class="panel panel-default col  s4">
								<div class="panel-heading" >Name:</div>
								<div class="panel-body" id ="your-name">

								</div>
						</div>
						<div class="panel panel-default col s8">
								<div class="panel-heading">Email: </div>
								<div class="panel-body" id="your-email">

								</div>
						</div>
						<div class="panel panel-default">
								<div class="panel-body" id="your-photo">
								</div>
						</div>
				 </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="next-view">Agree</a>
    </div>
  </div>

  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-database.js"></script>
  <script src="../js/home.js"></script>
</body>
</html>
