<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cincritica</title>
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="../css/intereses.css">
</head>
<body class="vh100">
    <!-- Encabezado -->
    <header class="interests-header">
        <h1 class="center-align">Escoge tus intereses</h1>
    </header>
    <!-- Sección de los géneros de las películas -->
    <section class="interests-section center-align">
        <div class="container interests">
            <!-- Géneros de películas -->
            <div class="row">
                <div class="col s6 m6 l6">
                    <div id="option-1" data-option="1" class="interests-div valign-wrapper" data-genre="Comedy">Comedia</div>
                    <div id="option-2" data-option="2" class="interests-div valign-wrapper" data-genre="Action">Acción</div>
                </div>
                <div class="col s6 m6 l6">
                    <div id="option-3" data-option="3" class="interests-div valign-wrapper" data-genre="Romance">Romance</div>
                    <div id="option-4" data-option="4" class="interests-div valign-wrapper" data-genre="Sci-Fi">Ciencia Ficción</div>
                </div>
            </div>
            <!-- Botón NEXT -->
            <div class="row">
                <div class="center-align button-container">
                    <a href="principal.html" class="waves-effect waves-light btn" id="next-button" disabled>NEXT</a>            
                </div>
            </div>
        </div>
    </section>
    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="../vendors/materialize/js/materialize.min.js"></script>
    <script src="../js/intereses.js"></script>
</body>
</html>
