<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vista Principal</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../css/sidenav.css">
  <link rel="stylesheet" href="../css/principal.css">
</head>
<body id="main-content" class="vh100">
  <!-- Encabezado -->
  <header class="valign-wrapper">
    <ul id="nav-mobile" class="side-nav fixed">
      <li>
        <div class="user-view center-align">
          <div class="background"></div>
          <a href="principal.html"><img class="logo_sidenav" src="../assets/images/logotipo/logo-fondo-blanco.png"></a>
          <a href="#modalperfil" id="min-photo-user" class="waves-effect waves-light modal-trigger displayblock" ><span class="white-text" id="nicknametext"></span></a>
        </div>
      </li>
      <li><a href="#!">Nosotros</a></li>
      <li><a href="#!">Contacto</a></li>
      <li><a href="#!">Blog</a></li>
      <li><div class="divider">
        </div>
      </li>
      <li><a href="#!">INTERESES</a></li>
      <li><a href="filters.html">TOP10</a></li>
      <li><a href="#!">NUEVOS</a></li>
      <li>
        <div class="divider"></div>
      </li>
      <li><a href="../views/home.html" class="waves-effect" >Cerrar sesión</a></li>
    </ul>
    <div class="valign-wrapper center-align elements_header">
      <div class="left-align">
        <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only "><i class="material-icons white-text btn_hambuguer">menu</i></a>
      </div>
      <img src="../assets/images/logotipo/logo-fondo-blanco.png"  class="logo_header "alt="">
    </div>
  </header>


  <!-- Slider de la vista principal-->
  <div class="row">
    <div class="col s12 m12 l10 right slide-container">
      <div class="slider">
        <ul class="slides">
          <li>
            <img src="../assets/images/movie-slide.jpg" class="responsive-img principal-slide-1"> <!-- random image -->
            <div class="caption right-align">
              <h3 class="white-text">¿No sabes qué película ver?</h3>
              <h4 class=" white-text text-lighten-3">Mira nuestro top 10 <!--<a href="filters.html">aquí</a>--></h4>
            </div>
          </li>
          <li>
            <img src="../assets/images/movie-slide-1.jpg" class="responsive-img principal-slide-2"> <!-- random image -->
            <div class="caption right-align">
                <h3 class="white-text">Los últimos estrenos</h3>
                <h4 class=" white-texttext-lighten-3">Califica y recomienda</h4>
            </div>
          </li>
          <li>
            <img src="../assets/images/movie-slide-2.jpg" class="responsive-img principal-slide-2"> <!-- random image -->
            <div class="caption right-align">
              <h3 class="white-text">¿Ya has visto esta película?</h3>
              <h4 class="white-text light text-lighten-3">Dejános tu opinión</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!--section-->
  <section>
    <div class="container" id="container-genre-movies">
      <div class="row" id="row-0-1">
        <div class="col s12 m12 l9 right title-container" id="col-0-1">
          <h1 id= "title" class="genre-title center-align"></h1>
          <hr class="line-hr">
        </div>
      </div>
      
      <div class="row row-container-cards">
        <div class="col s8 offset-s2 m4 l4 xl3">
          <div class="card new-carousel-content active z-depth-3" data-slide="0">
            <div class="card-image">
              <img src="" class="responsive-img" id="movie-1">
            </div>
            <div class="card-content">
              <table>
                <tbody>
                  <tr>
                    <td>Nombre:</td>
                    <td id="name-card-1">Grown Up</td>
                  </tr>
                  <tr>
                    <td id="" class="movie-text">Año:</td>
                    <td id="year-card-1">20XX</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-action center-align">
            <!-- Modal Trigger -->
              <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Ver más</a>
            </div>
          </div>
        </div>
        <div class="col s8 offset-s2 m4 l4 xl3">
          <div class="card new-carousel-content active z-depth-3" data-slide="1">
            <div class="card-image">
              <img src="" class="responsive-img" id="movie-2">
            </div>
            <div class="card-content">
              <table>
                <tbody>
                  <tr>
                    <td>Nombre:</td>
                    <td id="name-card-2">Grown Up</td>
                  </tr>
                  <tr>
                    <td class="movie-text">Año:</td>
                    <td id="year-card-2">20XX</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-action center-align">
              <!-- Modal Trigger -->
              <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Ver más</a>
            </div>
          </div>
        </div>
        <div class="col s8 offset-s2 m4 l4 xl3">
          <div class="card new-carousel-content z-depth-3" data-slide="2">
            <div class="card-image">
              <img src="" class="responsive-img" id="movie-3">
            </div>
            <div class="card-content">
              <table>
                <tbody>
                  <tr>
                    <td>Nombre:</td>
                    <td id="name-card-3">Grown Up</td>
                  </tr>
                  <tr>
                    <td class="movie-text">Año:</td>
                    <td id="year-card-3">20XX</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-action center-align">
              <!-- Modal Trigger -->
              <a class="waves-effect waves-light btn modal-trigger" href="#modal3">Ver más</a>
            </div>
          </div>
        </div>
        <div class="col s8 offset-s2 m4 l4 xl3">
          <div class="card new-carousel-content z-depth-3" data-slide="3">
            <div class="card-image">
              <img src="" class="responsive-img" id="movie-4">
            </div>
            <div class="card-content">
              <table>
                <tbody>
                  <tr class="center-align">
                    <td>Nombre</td>
                    <td id="name-card-4">Grown Up</td>
                  </tr>
                  <tr>
                    <td class="movie-text">Año</td>
                    <td id="year-card-4">20XX</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-action center-align">
              <!-- Modal Trigger -->
              <a class="waves-effect waves-light btn modal-trigger" href="#modal4">Ver más</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--modal perfil estructura-->
  <div id="modalperfil" class="modal modal-fixed-footer fondoamarillo">
    <div class="modal-content center-align">
      <h5>TUS DATOS: </h5>
      <div class="user-data">
        <div class="panel panel-default">
          <img id="my-photo" class="my-photo photoUser" src="">
          <a><span class="white-text email" id="nicknametext"></span></a>
        </div>
        <div class="panel panel-default col  s4">
          <div class="panel-heading">Name: </div>
          <div class="panel-body" id ="your-name">
            <h6 id="user-name">Brenda Mesias</h6>
          </div>
        </div>
        <div class="panel panel-default col s8">
          <div class="panel-heading">Email: </div>
          <h6 id="user-email">brendamesias@gmail.com</h6>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class=" btn modal-action modal-close waves-effect waves-green btn-flat btnclose" type="button">Close</button>
    </div>
    </div>

    <!-- Modal 1 -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <div class="image-div background-image-movie" id="poster-movie-modal">
          <a class="btn-floating btn-large waves-effect waves-light blue right pulse pulsing-button"><i class="material-icons">play_arrow</i></a>
        </div>
        <table class="bordered">
          <tbody>
            <tr>
              <td>Nombre:</td>
              <td id="name-modal-1">X</td>
            </tr>
            <tr>
              <td>Año:</td>
              <td id="year-modal-1">2017</td>
            </tr>
            <tr>
              <td>Calificación</td>
              <td>
                <div>
                <table class="striped">
                  <tr>
                    <td>Historia</td>
                    <td>
                      <div id="rateYo-0-1"></div>
                    </td>
                  </tr>
                  <tr>
                    <td>Actuación</td>
                    <td>
                      <div id="rateYo-0-2"></div>
                    </td>
                  </tr>
                  <tr>
                    <td>Música</td>
                    <td>
                      <div id="rateYo-0-3"></div>
                    </td>
                  </tr>
                  <tr>
                    <td>Efectos Visuales</td>
                    <td>
                      <div id="rateYo-0-4"></div>
                    </td>
                  </tr>
                  <tr>
                    <td>Final</td>
                    <td>
                      <div id="rateYo-0-5"></div>
                    </td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
          <tr>
            <td>Sinopsis</td>
            <td id="sinopsis-modal">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis commodi ea similique earum deleniti magni possimus alias rerum velit atque. Nesciunt, quod minima ratione aperiam vero quasi neque voluptate cumque!</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat close-button">CLOSE</a>
    </div>
  </div>
  
  <!-- Modal 2-->
  <div id="modal2" class="modal">
    <div class="modal-content">
      <div class="image-div background-image-movie" id="poster-movie-modal-2">
        <a class="btn-floating btn-large waves-effect waves-light blue right pulse pulsing-button"><i class="material-icons">play_arrow</i></a>
      </div>
      <table class="bordered">
        <tbody>
          <tr>
            <td>Nombre</td>
            <td id="name-modal-2">X</td>
          </tr>
          <tr>
            <td>Año</td>
            <td id="year-modal-2">2017</td>
          </tr>
          <tr>
            <td>Calificación</td>
            <td>
              <div>
                <table class="striped">
                  <tr>
                    <td>Historia</td>
                    <td>
                      <div id="rateYo-1-1"></div>
                    </td>
                  </tr>
                  <tr>
                    <td>Actuación</td>
                    <td><div id="rateYo-1-2"></div></td>
                  </tr>
                  <tr>
                    <td>Música</td>
                    <td>
                      <div id="rateYo-1-3"></div>
                    </td>
                  </tr>
                  <tr>
                    <td>Efectos Visuales</td>
                    <td>
                      <div id="rateYo-1-4"></div>
                    </td>
                  </tr>
                  <tr>
                    <td>Final</td>
                    <td>
                      <div id="rateYo-1-5"></div>
                    </td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
          <tr>
            <td>Sinopsis</td>
            <td id="sinopsis-modal-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis commodi ea similique earum deleniti magni possimus alias rerum velit atque. Nesciunt, quod minima ratione aperiam vero quasi neque voluptate cumque!</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat close-button">CLOSE</a>
    </div>
  </div>
  <!-- Modal 3 -->
  <div id="modal3" class="modal">
    <div class="modal-content">
      <div class="image-div background-image-movie" id="poster-movie-modal-3">
        <a class="btn-floating btn-large waves-effect waves-light blue right pulse pulsing-button"><i class="material-icons">play_arrow</i></a>
      </div>
      <table class="bordered">
        <tbody>
          <tr>
            <td>Nombre</td>
            <td id="name-modal-3">X</td>
          </tr>
          <tr>
            <td>Año</td>
            <td id="year-modal-3">2017</td>
          </tr>
          <tr>
            <td>Calificación</td>
            <td>
              <div>
                <table class="striped">
                  <tr>
                    <td>Historia</td>
                    <td>
                      <div id="rateYo-2-1"></div>
                    </td>
                  </tr>
                  <tr>
                    <td>Actuación</td>
                    <td>
                      <div id="rateYo-2-2"></div>
                    </td>
                  </tr>
                  <tr>
                    <td>Música</td>
                    <td>
                      <div id="rateYo-2-3"></div>
                    </td>
                  </tr>
                  <tr>
                    <td>Efectos Visuales</td>
                    <td>
                      <div id="rateYo-2-4"></div>
                    </td>
                  </tr>
                  <tr>
                    <td>Final</td>
                    <td>
                      <div id="rateYo-2-5"></div>
                    </td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
          <tr>
            <td>Sinopsis</td>
            <td id="sinopsis-modal-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis commodi ea similique earum deleniti magni possimus alias rerum velit atque. Nesciunt, quod minima ratione aperiam vero quasi neque voluptate cumque!</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat close-button">CLOSE</a>
    </div>
  </div>
  
  <!-- Modal 4 -->
  <div id="modal4" class="modal">
    <div class="modal-content">
      <div class="image-div background-image-movie" id="poster-movie-modal-4">
        <a class="btn-floating btn-large waves-effect waves-light blue right pulse pulsing-button"><i class="material-icons">play_arrow</i></a>
      </div>
      <table class="bordered">
        <tbody>
          <tr>
            <td>Nombre</td>
            <td id="name-modal-4">X</td>
          </tr>
          <tr>
            <td>Año</td>
            <td id="year-modal-4">2017</td>
          </tr>
          <tr>
            <td>Calificación</td>
            <td>
              <div>
                <table class="striped">
                  <tr>
                    <td>Historia</td>
                    <td>
                      <div id="rateYo-3-1"></div>
                    </td>
                  </tr>
                  <tr>
                    <td>Actuación</td>
                    <td>
                      <div id="rateYo-3-2"></div>
                    </td>
                  </tr>
                  <tr>
                    <td>Música</td>
                    <td>
                      <div id="rateYo-3-3"></div>
                    </td>
                  </tr>
                  <tr>
                    <td>Efectos Visuales</td>
                    <td>
                      <div id="rateYo-3-4"></div>
                    </td>
                  </tr>
                  <tr>
                    <td>Final</td>
                    <td>
                      <div id="rateYo-3-5"></div>
                    </td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
          <tr>
            <td>Sinopsis</td>
            <td id="sinopsis-modal-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis commodi ea similique earum deleniti magni possimus alias rerum velit atque. Nesciunt, quod minima ratione aperiam vero quasi neque voluptate cumque!</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat close-button">CLOSE</a>
    </div>
  </div>

  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-database.js"></script>
  <script src="../js/slidenav.js"></script>
  <script src="../js/home.js"></script>
  <script src="../js/principal.js"></script>
</body>
</html>
