<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vista Principal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="../css/sidenav.css">
    <link rel="stylesheet" href="../css/principal.css">
</head>
<body class="vh100">
    <!-- Encabezado -->
    <header class="">
            <ul id="nav-mobile" class="side-nav fixed">

                          <li><div class="user-view center-align">
                          <div class="background">
                          </div>
                          <a href="principal.html"><img class="logo_sidenav" src="../assets/images/logotipo/logo-fondo-blanco.png"></a>
                          <a href="#modalperfil" id="min-photo-user" class="waves-effect waves-light modal-trigger displayblock" ><span class="white-text" id="nicknametext"></span></a>
                        </div></li>
                        <li><a href="#!">Nosotros</a></li>
                        <li><a href="#!">Contacto</a></li>
                        <li><a href="#!">Blog</a></li>
                        <li><div class="divider"></div></li>
                        <li><a href="#!">INTERESES</a></li>
                        <li><a href="#!">TOP10</a></li>
                        <li><a href="#!">NUEVOS</a></li>
                        <li><div class="divider"></div></li>

                        <li><a href="../views/home.html" class="waves-effect" >Cerrar sesión</a></li>

                      </ul>
                        <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a>
    </header>

    <!--slide de la vista principal-->

    <div class="row">
        <div class="col s12 m12 l10 xl11 right slide-container">
            <div class="slider">
                <ul class="slides">
                    <li>
                        <img src="../assets/images/movie-slide.jpg" class="responsive-img principal-slide-1"> <!-- random image -->
                        <div class="caption center-align">
                            <h3>¿No sabes qué película ver?</h3>
                            <h5 class="light grey-text text-lighten-3">Mira nuestro top 10 <a href="filters.html">aquí</a></h5>
                        </div>
                    </li>
                    <li>
                        <img src="../assets/images/movie-slide-1.jpg" class="responsive-img principal-slide-2"> <!-- random image -->
                    </li>
                    <li>
                        <img src="../assets/images/movie-slide-2.jpg" class="responsive-img principal-slide-2"> <!-- random image -->
                        <div class="caption right-align">
                            <h3>¿Ya has visto esta película?</h3>
                            <h5 class="light grey-text text-lighten-3">Dejános tu opinión</h5>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--section-->
    <section>
        <div class="container">
            <div class="row" id="row-0-1">
                <div class="col s12 m12 l9 xl10 right" id="col-0-1">
                    <h1 id= "title" class="genre-title"></h1>
                </div>
            </div>
            <div class="row row-container-cards">
                <div class="col s6 m4 l4 xl3">
                  <div class="card new-carousel-content active" data-slide="0">
                    <div class="card-image">
                      <img src="../assets/images/movie-slide-1.jpg">
                    </div>
                    <div class="card-content">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Nombre</td>
                                    <td>Grown Up</td>
                                </tr>
                                <tr>
                                    <td>Año</td>
                                    <td>20XX1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-action center-align">
                        <!-- Modal Trigger -->
                        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Ver más</a>
                    </div>
                  </div>
                </div>
                <div class="col s6 m4 l4 xl3">
                    <div class="card new-carousel-content active" data-slide="1">
                      <div class="card-image">
                        <img src="../assets/images/movie-slide-1.jpg">
                      </div>
                      <div class="card-content">
                          <table>
                              <tbody>
                                  <tr>
                                      <td>Nombre</td>
                                      <td>Grown Up</td>
                                   </tr>
                                    <tr>
                                        <td>Año</td>
                                        <td>20XX2</td>
                                    </tr>
                                </tbody>
                           </table>
                      </div>
                      <div class="card-action center-align">
                        <!-- Modal Trigger -->
                        <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Ver más</a>
                      </div>
                    </div>
                </div>
                <div class="col s6 m4 l4 xl3">
                    <div class="card new-carousel-content" data-slide="2">
                      <div class="card-image">
                        <img src="../assets/images/movie-slide-1.jpg" class="" id="">
                      </div>
                      <div class="card-content">
                          <table>
                              <tbody>
                                  <tr>
                                      <td>Nombre</td>
                                      <td>Grown Up</td>
                                  </tr>
                                  <tr>
                                      <td>Año</td>
                                    <td>20XX3</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="card-action center-align">
                        <!-- Modal Trigger -->
                        <a class="waves-effect waves-light btn modal-trigger" href="#modal3">Ver más</a>
                      </div>
                    </div>
                </div>
                <div class="col s6 m4 l4 xl3">
                    <div class="card new-carousel-content" data-slide="3">
                      <div class="card-image">
                        <img src="../assets/images/movie-slide-1.jpg">
                      </div>
                      <div class="card-content">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Nombre</td>
                                        <td>Grown Up</td>
                                    </tr>
                                    <tr>
                                        <td>Año</td>
                                        <td>20XX4</td>
                                    </tr>
                                </tbody>
                            </table>
                      </div>
                      <div class="card-action center-align">
                        <!-- Modal Trigger -->
                        <a class="waves-effect waves-light btn modal-trigger" href="#modal4">Ver más</a>
                      </div>
                    </div>
                </div>
                <!--<a class="btn-floating btn-large waves-effect waves-light red arrow-right-button"><i class="material-icons">chevron_right</i></a>-->
            </div>
        </div>
    </section>

    <!--modal perfil estructura-->
    <div id="modalperfil" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4>Tus datos: </h4>
        <div class="user-data">
              <div class="panel panel-default">
                  <img id="my-photo" class="my-photo photoUser" src="">
                  <a><span class="white-text email" id="nicknametext"></span></a>
              </div>
                          <div class="panel panel-default col  s4">
                <div class="panel-heading">Name: </div>
                                  <div class="panel-body" id ="your-name">
                    <h6 id="user-name">Brenda Mesias</h6>
                                  </div>
                          </div>
                          <div class="panel panel-default col s8">
                                  <div class="panel-heading">Email: </div>
                                  <h6 id="user-email">brendamesias@gmail.com</h6>
                                  </div>
        </div>
        <div class="modal-footer">
          <a class=" btn modal-action modal-close waves-effect waves-green btn-flat" type="button">Close</a>
        </div>
      </div>
    </div>

    <!-- Modal araceli-->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <div class="image-div"><a class="btn-floating btn-large waves-effect waves-light blue right pulse pulsing-button"><i class="material-icons">play_arrow</i></a></div>
            <table class="bordered">
                <tbody>
                    <tr>
                        <td>Nombre</td>
                        <td>X</td>
                    </tr>
                    <tr>
                        <td>Año</td>
                        <td>2017</td>
                    </tr>
                    <tr>
                        <td>Calificación</td>
                        <td>
                            <div>
                                <table class="striped">
                                    <tr>
                                        <td>Historia</td>
                                        <td>
                                            <div id="rateYo-0-1"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Actuación</td>
                                        <td><div id="rateYo-0-2"></div></td>
                                    </tr>
                                    <tr>
                                        <td>Música</td>
                                        <td><div id="rateYo-0-3"></div></td>
                                    </tr>
                                    <tr>
                                        <td>Efectos Visuales</td>
                                        <td><div id="rateYo-0-4"></div></td>
                                    </tr>
                                    <tr>
                                        <td>Final</td>
                                        <td><div id="rateYo-0-5"></div></td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Sinopsis</td>
                        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis commodi ea similique earum deleniti magni possimus alias rerum velit atque. Nesciunt, quod minima ratione aperiam vero quasi neque voluptate cumque!</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
        </div>
    </div>





    <!-- Modal araceli-->
    <div id="modal2" class="modal">
        <div class="modal-content">
            <div class="image-div"><a class="btn-floating btn-large waves-effect waves-light blue right pulse pulsing-button"><i class="material-icons">play_arrow</i></a></div>
            <table class="bordered">
                <tbody>
                    <tr>
                        <td>Nombre</td>
                        <td>X</td>
                    </tr>
                    <tr>
                        <td>Año</td>
                        <td>2017</td>
                    </tr>
                    <tr>
                        <td>Calificación</td>
                        <td>
                            <div>
                                <table class="striped">
                                    <tr>
                                        <td>Historia</td>
                                        <td><div id="rateYo-1-1"></div></td>
                                    </tr>
                                    <tr>
                                        <td>Actuación</td>
                                        <td><div id="rateYo-1-2"></div></td>
                                    </tr>
                                    <tr>
                                        <td>Música</td>
                                        <td><div id="rateYo-1-3"></div></td>
                                    </tr>
                                    <tr>
                                        <td>Efectos Visuales</td>
                                        <td><div id="rateYo-1-4"></div></td>
                                    </tr>
                                    <tr>
                                        <td>Final</td>
                                        <td><div id="rateYo-1-5"></div></td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Sinopsis</td>
                        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis commodi ea similique earum deleniti magni possimus alias rerum velit atque. Nesciunt, quod minima ratione aperiam vero quasi neque voluptate cumque!</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
        </div>
    </div>
    <!-- Modal -->
    <div id="modal3" class="modal">
        <div class="modal-content">
            <div class="image-div"><a class="btn-floating btn-large waves-effect waves-light blue right pulse pulsing-button"><i class="material-icons">play_arrow</i></a></div>
            <table class="bordered">
                <tbody>
                    <tr>
                        <td>Nombre</td>
                        <td>X</td>
                    </tr>
                    <tr>
                        <td>Año</td>
                        <td>2017</td>
                    </tr>
                    <tr>
                        <td>Calificación</td>
                        <td>
                            <div>
                                <table class="striped">
                                    <tr>
                                        <td>Historia</td>
                                        <td><div id="rateYo-2-1"></div></td>
                                    </tr>
                                    <tr>
                                        <td>Actuación</td>
                                        <td><div id="rateYo-2-2"></div></td>
                                    </tr>
                                    <tr>
                                        <td>Música</td>
                                        <td><div id="rateYo-2-3"></div></td>
                                    </tr>
                                    <tr>
                                        <td>Efectos Visuales</td>
                                        <td><div id="rateYo-2-4"></div></td>
                                    </tr>
                                    <tr>
                                        <td>Final</td>
                                        <td><div id="rateYo-2-5"></div></td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Sinopsis</td>
                        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis commodi ea similique earum deleniti magni possimus alias rerum velit atque. Nesciunt, quod minima ratione aperiam vero quasi neque voluptate cumque!</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
        </div>
    </div>
    <!-- Modal -->
    <div id="modal4" class="modal">
        <div class="modal-content">
            <div class="image-div"><a class="btn-floating btn-large waves-effect waves-light blue right pulse pulsing-button"><i class="material-icons">play_arrow</i></a></div>
            <table class="bordered">
                <tbody>
                    <tr>
                        <td>Nombre</td>
                        <td>X</td>
                    </tr>
                    <tr>
                        <td>Año</td>
                        <td>2017</td>
                    </tr>
                    <tr>
                        <td>Calificación</td>
                        <td>
                            <div>
                                <table class="striped">
                                    <tr>
                                        <td>Historia</td>
                                        <td><div id="rateYo-3-1"></div></td>
                                    </tr>
                                    <tr>
                                        <td>Actuación</td>
                                        <td><div id="rateYo-3-2"></div></td>
                                    </tr>
                                    <tr>
                                        <td>Música</td>
                                        <td><div id="rateYo-3-3"></div></td>
                                    </tr>
                                    <tr>
                                        <td>Efectos Visuales</td>
                                        <td><div id="rateYo-3-4"></div></td>
                                    </tr>
                                    <tr>
                                        <td>Final</td>
                                        <td><div id="rateYo-3-5"></div></td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Sinopsis</td>
                        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis commodi ea similique earum deleniti magni possimus alias rerum velit atque. Nesciunt, quod minima ratione aperiam vero quasi neque voluptate cumque!</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
        </div>
    </div>
    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
    <script src="../vendors/materialize/js/materialize.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  	<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-app.js"></script>
  	<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-auth.js"></script>
  	<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-database.js"></script>
    <script src="../js/slidenav.js"></script>
    <script src="../js/home.js"></script>
    <script src="../js/principal.js"></script>
</body>
</html>
